.products-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 0 100px;
}
.pagination-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.pagination-wrapper li {
    list-style-type: none;
}
.pagination-page, .pagination-next {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: #FFF9E6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.pagination-active {
    background-color: #FBEBB5;
}
.pagination-next {
    width: 90px;
}
