.wrapper {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;   
}
.close {
    position: absolute;
    right: 30px;
    top: 35px;
    cursor: pointer;
}
.content {
    width: 30%;
    min-width: 400px;
    height: auto;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 24px;
    font-weight: 600;
}
.line {
    height: 1px;
    background-color: #D9D9D9;
    margin: 25px 0;
}
.products {
    overflow: auto;
    padding: 0 10px;
    margin-bottom: 10px;
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.name {
    font-size: 16px;
    font-weight: 400;
}
.bottom {
    margin-top: auto;
}
.total {
    display: flex;
    justify-content: space-between;
}
.link {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 10px 35px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}